*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
font-size: 62.5%;
}

body{
font-size: 1.6rem;
font-family:tahoma,arial,sans-serif;
}
.container{
width:102.4rem;
margin: 2rem auto;
}
#header{
height: 5rem;
background-color: #162028;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
margin: .5rem 0 0 13.5rem;
}
#menu{
display: flex;
align-items: center;
margin-top:.5rem;
list-style: none;
margin-right: 3rem;
}
 
#menu li{
margin-right: 1.5rem;
padding: 1rem;
}

#menu li a{
  padding: .5rem;
  color: #425564;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1.2rem;
  transition: .4s;
}
#menu li a:hover{
  color: white;
}

#portifolio{
  padding: 5rem 10rem;
  text-align: center;
}
#portifolio h1{
font-size: 3.6rem;
color: #252525;
margin-bottom: 3rem;
}
#portifolio p{
font-size: 1.6rem;
line-height: 2;
color: #555;
}

#gallery{
  padding: 0 10rem 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #555;
  margin-top:2rem;
}
.gallery-card{
width: 32%;
text-align: center;
}
.gallery-title{
text-transform: uppercase;
letter-spacing:.4rem;
font-size: 1.6rem;
font-weight: bold;
margin-block: 1rem;
}

#about{
background-color: #003d52;
padding:10rem;
color: white;
background-image: url('..//imagens/bg_detalhe.png');
background-repeat: no-repeat;
background-position: right bottom;
margin-bottom: 1rem;
}

.about-title{
text-transform: uppercase;
font-size: 5.2rem;
font-weight: normal;
margin-bottom: 3rem;
}
.about-paragraph{
line-height: 1.5;
width:70%;
}

#contact{
margin: 5rem 0;
}
#contact address{
color: #143f52;
text-transform: uppercase;
font-style: normal;
font-size: 2.6rem;
text-align: center;
font-weight: bold;
}
.maps{
width:100%;
height: 47rem;
margin-top: 1.5rem;
}
.maps iframe{
width: 100%;
}

#footer{
background-color: #0b171f;
padding: 2.5rem;
font-size: 1.2rem;
color: #6f8597;
text-align: center;
letter-spacing:.5rem;
}
